* {
    font-family: "Montserrat", Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary: #0B3D2E;
    --accent: #FFD700;
    --light: #EEEEEE;
    --border: #CCCCCC;
}

/*---------------------Header--------------------------*/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    background-color: var(--border);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--primary);
}

/*---------------------Nav and Hamburger Dropdown--------------------------*/
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--primary);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    color: var(--primary);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: var(--light);
}

.navigation a:hover {
    background-color: var(--accent);
    color: black;
    font-weight: bolder;
}

/*---------------------Footer--------------------------*/
footer {
    background-color: var(--border);
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    min-height: 180px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 50%;
    transition: background-color 0.2s ease, transform 0.2s ease;

}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--accent);
    transform: translateY(-2px);
}


/*---------------------Main--------------------------*/
h1{
    border-bottom: 1px solid var(--border);
}
.view-buttons {
    text-align: center;
    margin: 1rem 0;
}

.view-buttons button {
    border: none;
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
    border-radius: 8px;
}

.view-buttons button:hover {
    opacity: 0.9;
}

#cards {
    padding: 1rem;
}

#cards.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

#cards.list {
    display: block;
    padding: 1rem;
}

section.card {
    background-color: var(--accent);
    border: 2px solid var(--primary);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    will-change: transform;
}

section.card h2 {
    margin: 0.5rem 0;
}

section.card p {
    margin: 0.25rem 0;
}

section.card p:last-of-type {
    margin-top: 0.5rem;
    font-weight: 600;
}

.card img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
    height: auto;
    margin-bottom: 0.5rem;
}

#cards.list section.card {
    border-left: 6px solid var(--primary);
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    margin-bottom: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1rem;
    text-align: left;
    align-items: start;
}

section.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transition: all 0.2s ease;
}

#cards.list section.card img {
    margin: 0;
}

section.card a {
    display: inline-block;
    max-width: 100%;
    word-break: break-word;
    overflow-wrap: anywhere;
    margin-top: 0.5rem;
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
}


section.card a:hover {
    text-decoration: underline;
}

#cards.list section.card a {
    display: block;
}


/*---------------------Larger screen--------------------------*/
@media (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        margin: 0 auto;
        padding: 5px;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: 1px solid var(--light);
    }

    .navigation ul {
        display: flex;
        justify-content: space-around;
    }

    .navigation a {
        border: none;
    }

    #cards.grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    #cards.list section.card {
        grid-template-columns: 200px 1fr;
    }

    .card img {
        max-height: 150px;
    }

    footer {
    flex-direction: row;
    padding: 1rem 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    gap: 0;
    min-height: 140px;
}
}

/*---------------------HOME PAGE--------------------------*/
.hero{
    width: 100%;
    height: 600px;
    position: relative;
}

.hero img{
    width: 100%;
    display: block;
}

.hero-btn{
    position: absolute;
    bottom: 100px;
    right: 50px;
    padding: 12px 20px;
    font-size: 16px;
    background-color: var(--accent);
    border: none;
    cursor: pointer;
}

.hero-btn a{
    text-decoration: none;
    color: var(--primary);
}

