/* -----------------------------Responsive Grid Adjustments------------------------------ */
@media(min-width: 600px) {
    .game-cards {
        grid-template-columns: repeat(2, 1fr);
        /* Tablet: 2 columns */
        gap: 1.75rem;
        padding: 0;
    }
}

@media(min-width: 900px) {
    .game-cards {
        grid-template-columns: repeat(3, 1fr);
        /* Desktop: 3 columns */
        gap: 2rem;
    }
}

@media(min-width: 1200px) {
    .game-cards {
        grid-template-columns: repeat(4, 1fr);
        /* Large screens: 4 columns */
    }
}

/* ----------------------------------------------------------------------------------
   Responsive Breakpoints
---------------------------------------------------------------------------------- */
@media (max-width: 768px) {
    nav#siteNav {
        max-height: 0;
        overflow: hidden;
    }

    #menuToggle {
        display: block;
    }

    nav#siteNav ul {
        flex-direction: column;
    }
}