@media only screen and (min-width: 38rem) {
    header, main, nav, footer{
        max-width: 900px;
        margin: 0 auto;
    }

    header{
        grid-template-columns: 24px auto;
    }

    .hamburger{ 
        display: none;
    }

    .navigation{
        display: block;
        border-bottom: 1px solid #eee;
    }

    .navigation ul{
        display: flex;
        justify-content: space-around;
    }

    .navigation a{
        border: none;
    }

    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    main h1{
        grid-column: 1 / -1;
    }

    main section:nth-of-type(1){
        grid-column: 1 / 2;
    }

    main section:nth-of-type(2){
        grid-column: 2 / 3;
        text-align: center;
    }

    main section:nth-of-type(2) img{
        max-width: 220px;
    }

    main section:nth-of-type(3){
        grid-column: 1 / -1;
    }

    .course-controls{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 10px;
    }

    .course-controls button{
        width: 100%;
    }

}