/* ----------------- COLOR SCHEME ---------------------
Navy
Tomato
*/

/* ----------------- SITE WIDE ---------------------*/
*{ 
    font-family: 'roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

/* ----------------- HEADER ---------------------*/
header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span{
    font-size: 1.2rem;
    color: navy;
}
/* ----------------- HEADER NAVIGATION ---------------------*/
.hamburger{
    background: none;
    border: none;
    font-size: 2rem;
    color: navy;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before{
    content: "\2630";
}

.hamburger.show::before{
    content: "\00D7";
}

/* ----------------- NAVIGATION ---------------------*/
.navigation{
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: 0.8rem 10px;
    color: navy;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current{
    background-color: #eee;
}

.navigation a:hover{
    background-color: tomato;
}


h1{
    margin-left: 10px;
    color: navy;
}

/* ----------------- HEADINGS IN MAIN ---------------------*/
h2{
    width: 100%;
}

main{
    padding: 0 10px;
}

main section{
    background-color: #e6e6e6;
    margin-bottom: 1rem;
}

main section > h2{
    background-color: navy;
    color: white;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}

main section:nth-of-type(1) p{
    padding: 10px;
    margin: 0;
}

main section:nth-of-type(2) img{
    display: block;
    width: 90%;
    max-width: 250px;
    margin: 10px auto;
}
/* ----------------- COURSES ---------------------*/

.course-controls{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 10px;
}

.course-controls button{
    width: 100%;
}

.button{
    width: 290px;
    padding: 5px;
    border: 1px solid #eee;
    color: navy;
}

.button:hover{
    background-color: tomato;
    border: 1px solid navy;
    cursor: pointer;
}

.course-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
    margin: 10px;
    padding: 10px;
}

.course-card:hover{
    transform: scale(1.1);
}

.course-card{
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid black;
    background-color: tomato;
}

.course-card.completed{
    background-color: green;
    color: white;
    border-color: navy;
}

#creditTotal{
    text-align: center;
    padding-bottom: 10px;
}
/* ----------------- FOOTER ---------------------*/
footer{
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;

}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: tomato;
}